/* webapp/css/main.css */
table {	width : 80%;	border-collapse: collapse;  }
th,td {
	border : 3px solid #bcbcbc;
	text-align: center;  	padding : 8px;
}
th {    background-color: #8080c0; 	color : white;   }
td {	background-color: #ffffff;   }

caption {
	color : #111111; 	font-size: 20px;
	background-color: #FFFFFF;
}

input[type=text],input[type=password],textarea {
	width : 80%;
}